.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 20px;
  position: relative;
}
.shop{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4px;
    height: 600px;
    
}
.store-container{
    background-color: purple;
    width: 300px;
    height: auto;
    border-radius: 10px;
    color: #FFFFFF;
     position: fixed;
     right: 10px;
    
    border: 2px solid purple;
    
}
.Store-btn{
    background-color: #FFFFFF;
    color: purple;
    padding: 10px;
    width: 75%;
    border-radius: 20px;
    font-size: 20px;
}
.Store-btn:hover{
    background-color: rgb(139, 76, 197);
}
.button-container{
    padding: 10px 20px;
    background-color: purple;
    color: #FFFF;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.button-container:hover{
    background-color: rgb(150, 59, 235);
}